@layer components {
  .transition-d {
    @apply transition-all duration-500 ease-in;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/austria?styles=132058');

:root {
  color-scheme: light only;
}

.swiper-button-prev {
  background-image: url('/images/Brand/Dega/Slides/Arrows/LeftArrow.png');
  margin-left: 100px;
}

.swiper-button-next {
  background-image: url('/images/Brand/Dega/Slides/Arrows/RightArrow.png');
  margin-right: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  /* color: #8cc9d7 !important;
  z-index: 10000; */

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
