/* montserrat-100 - latin */
@font-face {
  font-family: 'Montserrat n100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/montserrat-v25-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-100.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat n200';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/montserrat-v25-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat n300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v25-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat n500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat n600';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat n700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat n900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat n800';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat i100';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/montserrat-v25-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-100italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-100italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-100italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-100italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-100italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat i200';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/montserrat-v25-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-200italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-200italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-200italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-200italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat i300';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/montserrat-v25-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-300italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-300italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat i';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/montserrat-v25-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat i500';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/montserrat-v25-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-500italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-500italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-500italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat i600';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/montserrat-v25-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-600italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-600italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-600italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-600italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat i700';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/montserrat-v25-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-700italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-700italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat i800';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/montserrat-v25-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-800italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-800italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-800italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-800italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-800italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat i900';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/montserrat-v25-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/montserrat-v25-latin-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/montserrat-v25-latin-900italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('fonts/montserrat-v25-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/montserrat-v25-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/montserrat-v25-latin-900italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto n100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/roboto-v30-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-100.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-100italic - latin */
@font-face {
  font-family: 'Roboto i100';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/roboto-v30-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-100italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-100italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-100italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-100italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v30-latin-100italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto n300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/roboto-v30-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-300.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto i300';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/roboto-v30-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-300italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto i';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v30-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto n500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto i500';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/roboto-v30-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-500italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v30-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto n700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto i700';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/roboto-v30-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v30-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto n900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v30-latin-900.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto i900';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/roboto-v30-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/roboto-v30-latin-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v30-latin-900italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v30-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v30-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v30-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* raleway-100 - latin */
@font-face {
  font-family: 'Raleway n100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/raleway-v28-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-100.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-100.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway n300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/raleway-v28-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-300.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway n200';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/raleway-v28-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-200.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway n400';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v28-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: 'Raleway n500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/raleway-v28-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-500.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway n600';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/raleway-v28-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-600.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway n700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/raleway-v28-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-700.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin */
@font-face {
  font-family: 'Raleway n800';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/raleway-v28-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-800.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-800.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-800.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway n900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/raleway-v28-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-900.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-100italic - latin */
@font-face {
  font-family: 'Raleway i100';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/raleway-v28-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-100italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-100italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-100italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-100italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-100italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-200italic - latin */
@font-face {
  font-family: 'Raleway i200';
  font-style: italic;
  font-weight: 200;
  src: url('fonts/raleway-v28-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-200italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-200italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-200italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-200italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-200italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300italic - latin */
@font-face {
  font-family: 'Raleway i300';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/raleway-v28-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-300italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-300italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500italic - latin */
@font-face {
  font-family: 'Raleway i500';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/raleway-v28-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-500italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-500italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
  font-family: 'Raleway i400';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/raleway-v28-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/raleway-v28-latin-italic.svg#Raleway')
      format('svg'); /* Legacy iOS */
}
/* raleway-600italic - latin */
@font-face {
  font-family: 'Raleway i600';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/raleway-v28-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-600italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-600italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-600italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-600italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-600italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway i700';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/raleway-v28-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800italic - latin */
@font-face {
  font-family: 'Raleway i800';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/raleway-v28-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-800italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-800italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-800italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-800italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-800italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-900italic - latin */
@font-face {
  font-family: 'Raleway i900';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/raleway-v28-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/raleway-v28-latin-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/raleway-v28-latin-900italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/raleway-v28-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/raleway-v28-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/raleway-v28-latin-900italic.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* lato-100 - latin */
@font-face {
  font-family: 'Lato n100';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/lato-v23-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-100.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-100.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-100.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-100.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-100.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-100italic - latin */
@font-face {
  font-family: 'Lato i100';
  font-style: italic;
  font-weight: 100;
  src: url('fonts/lato-v23-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-100italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-100italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-100italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-100italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-100italic.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato n300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-300.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato i300';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/lato-v23-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-300italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-300italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-300italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-300italic.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-regular.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato i';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lato-v23-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-italic.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato n700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-700.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato i700';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/lato-v23-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-700italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-700italic.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato n900';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/lato-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-900.svg#Lato')
      format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'Lato i900';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/lato-v23-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/lato-v23-latin-900italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/lato-v23-latin-900italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/lato-v23-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/lato-v23-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/lato-v23-latin-900italic.svg#Lato')
      format('svg'); /* Legacy iOS */
}

/* oswald-200 - latin */
@font-face {
  font-family: 'Oswald n200';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/oswald-v49-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-200.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-200.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-200.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-200.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
/* oswald-300 - latin */
@font-face {
  font-family: 'Oswald n300';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/oswald-v49-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-300.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-300.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
/* oswald-regular - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/oswald-v49-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-regular.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
/* oswald-500 - latin */
@font-face {
  font-family: 'Oswald n500';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/oswald-v49-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-500.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald n600';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/oswald-v49-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-600.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
/* oswald-700 - latin */
@font-face {
  font-family: 'Oswald n700';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/oswald-v49-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('fonts/oswald-v49-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/oswald-v49-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/oswald-v49-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/oswald-v49-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/oswald-v49-latin-700.svg#Oswald')
      format('svg'); /* Legacy iOS */
}
